.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    min-height: calc(100vh - 30rem);
}

@media (max-width : 600px){
    .about-wrapper{
        width: 100%;
        margin: 0;
        min-height: calc(100vh - 25rem);
    }
}