.info-form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-width: 50%; */
    width: 900px;
    margin: auto;
    min-height: calc(100vh - 30rem);
    z-index: 100;
}
.hidden-info-wrapper{
    height: 0;
    overflow: hidden;
    transition: .7s height ease-in-out;
}
.hidden-info-wrapper.show{
    height: auto;
}
.info-form-wrapper .info-form-body{
    margin: -150px 0 -50px 0;
    background-color:white;
    width: 100%;
    z-index: 1;
    border-radius: 6px;
    padding:20px 30px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .12);
}
.info-form-wrapper .info-form-body .info-form-title{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 30px 0;
}
.info-form-title span{
    margin-left: 15px;
}
.info-form-wrapper .info-form-body .info-form-body-form{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.image-name-wrapper, .email-phone-wrapper, 
                     .birthday-birthplace-wrapper, 
                     .driving-gender-wrapper, 
                     .nationality-marital-wrapper,
                     .social-wrapper{
    display: flex;
    width: 100%;
}
.add-image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 152px;
    height: 152px;
    background-color: #f5f5f5;
    border: 2px dotted #dddbdb;
    box-shadow: 0px 0px 3px 0px #d3cfcf;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
}
.add-image-wrapper:hover{
    border: 2px dotted grey;
}
.add-image-wrapper .image-icon{
    font-size: 60px;
    color: grey;
}
.add-image-wrapper .text{
    font-size: 10px;
    color: #888;
    margin-top: 10px;
}
.image-name-wrapper .name-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    width: 100%;
}
.image-name-wrapper .name-wrapper{
    display: flex;
    flex-direction: column;
}
.image-name-wrapper .name-wrapper .first-name , .last-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 3px 0;
}
.image-name-wrapper .name-wrapper .first-name p, 
                                  .last-name p, 
                                  .email p, 
                                  .phone p,
                                  .street p,
                                  .post p,
                                  .state p,
                                  .birthplace p,
                                  .birthday p,
                                  .driving p,
                                  .gender p,
                                  .nationality p,
                                  .marital p,
                                  .linkedin p,
                                  .web p,
                                  .profile-description p{
    color: grey;
    font-weight: normal;
    padding: 0 0 8px;
    font-size: 15px;
}
.image-name-wrapper .name-wrapper .first-name input,
                                  .last-name input,
                                  .email input, 
                                  .phone input,
                                  .street input,
                                  .post input,
                                  .state input,
                                  .birthplace input,
                                  .driving input,
                                  .gender select,
                                  .nationality input,
                                  .marital input,
                                  .linkedin input,
                                  .web input,
                                  .profile-description textarea{
        width: 100%;
        background-color: #fff;
        border: 2px solid #eaeaea;
        border-radius: 3px;
        padding: 0 14px 1px;
        height: 48px;
        font-size: 16px;
        -webkit-appearance: none;
}
.email-phone-wrapper .email, 
                     .phone, 
                     .address-wrapper 
                     .post, 
                     .state, 
                     .birthplace, 
                     .driving, 
                     .gender, 
                     .nationality, 
                     .marital,
                     .linkedin,
                     .web{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 50%;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
}
.address-wrapper, .profile-description{
    display: flex;
    flex-direction:column;
    width: 100%;
}
.post-state-wrapper{
    display: flex;
}
.address-wrapper .street, .profile-description{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
}
.birthday{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 50%;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
} 
.birthday input{
    width: 100%;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 3px;
    padding: 0 14px 1px;
    height: 42px;
    font-size: 16px;
    -webkit-appearance: none;
}
.show-more-fields-bottun{
    display: flex;
    width: 99%;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 15px 0;
    margin: 20px 0;
    background-color: #f5f5f5;
    align-self: flex-start;
    cursor: pointer;
    color: grey;
    font-weight: normal;
}
.show-more-fields-bottun p{
    margin-left: 10px;
}
.show-more-fields-bottun:hover{
    background-color: #f1f1f1;
}
@media (max-width : 900px){
    .info-form-wrapper{
        width: 100%;
    }
}
@media (max-width : 600px){

}
@media (max-width : 600px){
    .info-form-wrapper .info-form-body{
        margin: -100px 0 -50px 0;
    }
    .image-name-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-name-wrapper .name-wrapper{
        width:100%;
        padding: 0 10px 0 0;
    }
}