.home-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
    min-height: calc(100vh - 30rem);
}
.home-wrapper .home-left{
    align-self: flex-start;
    width: 50%;
}
.home-wrapper .home-left img{
    width: 60%;
}
.home-wrapper .home-right{
    width: 50%;
    text-align: center;
    align-self: flex-start;
}
.home-wrapper .home-right span a{
    color: blue;
    margin-left: .3rem;
}
@media (max-width : 600px){
    .home-wrapper{
        flex-direction: column;
        width: 100%;
        margin: 0;
        min-height: calc(100vh - 25rem);
    }
    .home-wrapper .home-left{
        width: 100%;
    }
    .home-wrapper .home-left img{
        width: 50%;
    }
    .home-wrapper .home-right{
        align-self: center;
        width: 100%;
    }
}