.home-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
    min-height: calc(100vh - 30rem);
}
.home-wrapper .home-left{
    align-self: flex-start;
    width: 50%;
}
.home-wrapper .home-left img{
    width: 60%;
}
.home-wrapper .home-right{
    background-color: white;
    margin-top: -120px;
    width: 50%;
    height:50vh;
    text-align: center;
    align-self: flex-start;
    border-radius: 10px;
    padding-top: 50px;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, .12);
    color: grey;
    z-index: 1;
}
.home-wrapper .home-right span a{
    color: blue;
    margin-left: .3rem;
}
@media (max-width : 600px){
    .home-wrapper{
        flex-direction: column;
        width: 100%;
        margin: 0;
        min-height: calc(100vh - 25rem);
    }
    .home-wrapper .home-left{
        width: 100%;
    }
    .home-wrapper .home-left img{
        width: 50%;
    }
    .home-wrapper .home-right{
        align-self: center;
        width: 100%;
        margin-top:0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        z-index: 0;
    }
}